*{margin:0; padding:0; text-decoration:none; list-style:none;font-family: 'Source Sans Pro', sans-serif;}

/* body*/
h1 {font-size:3rem; margin-bottom:4rem;}
div {width:1280px; margin:0 auto;} /*border:1px solid red*/
img {height:300px; width:auto;}
img#img12 {width:400px; height:auto;}