*{margin:0; padding:0; text-decoration:none; list-style:none; font-family:Arial, sans-serif;}

body {position:fixed; transition: all 3s ease-in-out;
     animation: random 80s infinite; background-size:cover; background-position:center; z-index:200;}

  @keyframes  random {
    10% { position:absolute; z-index:50; background-image:url("img/katalkbg01.png"); opacity:0.5;} 
    20% { position:absolute; z-index:50;background-image:url("img/katalkbg02.png"); opacity:0.5; }
    35% { position:absolute; z-index:50;background-image:url("img/katalkbg03.png"); opacity:0.5;} 
    45% { position:absolute; z-index:50;background-image:url("img/katalkbg04.png"); opacity:0.5;}
    55% { position:absolute; z-index:50;background-image:url("img/katalkbg05.png"); opacity:0.5;}  
    70% { position:absolute; z-index:50;background-image:url("img/katalkbg06.png"); opacity:0.5;}  
    85% { position:absolute; z-index:50;background-image:url("img/katalkbg07.png"); opacity:0.5;} 
    100% { position:absolute; z-index:50; background-image:url("img/katalkbg08.png"); opacity:0.5;}      
};

#h201 {position:fixed; z-index:300; font-size:5rem; display:inline-block; margin-left:100px;}


/*main*/
#main {width:100%; overflow:auto;}

/*left*/
#left {float:left; width:34%; height:95%;
    overflow-y: scroll;
    max-width:33%;
    max-height:50rem; 
	transition: all 1s ease-out;
     animation: opacity 30s infinite; 

}
#left img {width:100%; margin-top:-8px;}


/*middle*/
#middle {float:left; width:34%; height:95%;
    overflow-y: scroll;
    max-width:33%;
    max-height:50rem; opacity:0.3;
transition: all 1s ease-out;
     animation: opacity 30s infinite; 
}
#middle img {width:100%; margin-top:-4px; }

/*right*/

#right { position:relative; float:left; width:34%; height:95%;
    overflow-y: scroll;
    max-width:34.5%;
    max-height:50rem;
    transition: all 1s ease-out;
     animation: opacity 30s infinite; 
}

#right img {width:100%; margin-top:0px;}


@keyframes opacity {
	10% {opacity: 0.7;} 
    20% {opacity: 0.8;} 
    30% {opacity: 0.9;} 
    40% {opacity: 0.5;}
    50% {opacity: 0.9;} 
    60% {opacity: 0.5;} 
    70% {opacity: 0.9;} 
    80% {opacity: 0.7;} 
    90% {opacity: 0.8;} 
    100% {opacity: 0.5;} 

}; /*keyframe left*/






