/* header*/
h1 {font-size:2rem; border-bottom:3px solid white; padding-bottom:1rem; margin:30px; margin-bottom:3rem; margin-left:0px; }




/*body*/

*{margin:0; padding:0; color:white; list-style:none; font-family:Lato, sans-serif;text-decoration:none;}
body {background-color:black;}
div#main {width:95%; margin:0 auto;}
h3.subheader {margin:0.8rem; margin-left:0rem;}
h3.subheader:hover{color:rgba(220,220,220,0.6);}
.subject:hover {text-decoration:underline;}
div#exercises {margin-bottom:3rem;}
/*footer*/
