*{margin:0; padding:0; list-style:none; border:none;}

/*header*/
header h1 {text-align:center; margin:50px auto;}
div h3 {margin:20px; margin-left:0px; width:100%;}
div h3#nonlinear {margin-top:40px;}

/*body*/
div#main {width:90%; margin:0 auto;}
img { width:100%; height:auto;}
header, h3 {font-family:Arial,sans-serif;}