.kakaotalk {
	   margin:auto; position:absolute; top:0; bottom:0; left:0; right:0;
 transition: all 0.3s ease-out; -webkit-animation: random 5s infinite;
     animation: pleasework 5s infinite;
 }
 
 @keyframes  pleasework {
     15% { background-color: #DA413D; } 
    30% { background-color: #4F84C4; } 
    45% { background-color: #9C9A40; } 
    60% { background-color: #CE3175; }
    75% { background-color: #D8AE47; }  

};

/*
    10% { background-image:url("img/bg01.png"); } 
    20% { background-image:url("img/bg02.png"); }
    35% { background-image:url("img/bg03.png"); } 
    45% { background-image:url("img/bg04.png"); }
    55% { background-image:url("img/bg05.png"); }  
    70% { background-image:url("img/bg06.png"); }  
    85% { background-image:url("img/bg07.png"); } 
    100% {background-image:url("img/bg08.png"); }      
    */