/*div main*/

*{margin:0; padding:0; list-style:none; text-decoration:none;font-family: 'Roboto', sans-serif;}



/*header*/
ul#ul01 {float:right; margin:2.5rem auto;}
ul#ul01 li { float:left; margin-right:50px; font-size:1rem;}
ul#ul01 li a:visited {color:black;}
ul#ul01 li a:hover {color:#808080;}


/*img */
#ul02 {float:left; width:100%;}
#ul02 li img { width:33.3%; float:left;}



/*section*/
section {clear:both; margin:1rem auto;} /* border:1px solid red;*/
.section a:link, .section a:visited {color:black;}
.section h2 {margin-bottom:1.5rem;}
.section .anchor {margin-top:1rem; display:inline-block;}

/* gender and technology */
#article01 p {margin-bottom:1rem;}
#article01 {margin-bottom:1rem;}

#ul03 {float:left;}
#ul03 li img {width:50%; float:left;}
h4 {margin:1rem auto; display:inline-block;}
#ul04 li {list-style:square;}

/* gender and bots */ 
#ul06 {float:left; margin-top:2rem;}
#ul06 li img {width:50%; float:left;}

/*gender gap is data gap*/

div#video {}
video {position:relative; left:25%; margin:3rem auto;}
/*footer*/
footer {height:200px;}



