*{margin:0; padding:0; list-style:none; text-decoration:none; font-family:'Lato', sans-serif;}
body{cursor:pointer;}
#main {width:100%; overflow:hidden;}
#ul01 img, #ul02 img {height:100%; position:absolute;}

/*ul01*/
/*li01*/
#purple {z-index:900;}
#telephone {z-index:800; left:10rem; display:none;}
#telephonee {z-index:760;display:none; left:5rem; top:15rem;
	animation: telephonedance 2s ease alternate infinite; transform-origin: 67% 50%; }
#window {z-index:740; display:none; transform: scale(0.5, 0.5); left:7rem; top:-10rem;}
#sky {z-index:720; width:100%; display:none;}
#li01 p {position:absolute; z-index:10000; font-size:4rem; color:white; left:40%; bottom:10%; }

/*li02*/
#obese {display:none; width:100%; height:auto;}
#tigerroar {z-index:200; display:none;transform: scale(0.8, 0.8); left:30%;}
#grass {z-index:100; width:100%; display:none;}
#clock {z-index:250; display:none; transform: scale(0.3, 0.3); left:15%; top:20%;}
#li02 p {position:absolute; z-index:10000; font-size:4rem; color:white; left:40%; bottom:10%; display:none; }
#drop {position:absolute; z-index: 200; width:15rem; height:15rem; border:3px dashed rgba(0,104,10,1); display:none; color:white ;left:35%; bottom:20%;}
@keyframes telephonedance {
	0% {
		transform: rotateZ(0deg) scale(0.4,0.4);
	}
	50% {
		transform: rotateZ(-180deg) scale(0.4,0.4);
	}
	100% {
		transform: rotateZ(180deg) scale(0.4,0.4);	
	}
}

/*li03*/
#milkshake {position:absolute; display:none; z-index:100;transform: scale(0.15, 0.15); left:22rem; top:9rem;}
#minicooper {position:absolute; display:none; z-index:50; left:13rem;}
#roadto {position:absolute; z-index:1; width:100%; display:none; left:0; top:0;}
#li03 p {position:absolute; z-index:200; font-size:4rem; color:white; left:40%; bottom:10%; display:none; }

/*li04*/
#dog{z-index: 200; position:absolute; display:none; left:-10rem;}
#boxingring{z-index:100; position:absolute; display:none; width:100%;}
#punch {z-index: 220; position:absolute; display:none; transform: scale(0.7, 0.7); left: 20%; top:30%; cursor:move;}
#gorilla {z-index:200; position:absolute; display:none; left:45%;}
#gorillahabitat{z-index:100; width:100%; display:none;}
#dogplayful{position:absolute; display:none;}
#li04p {position:absolute; z-index:200; font-size:4rem; color:white; left:40%; bottom:10%; display:none; }
