*{margin:0; padding:0;list-style:none; text-decoration:none; font-family:"arial", sans-serif;}
  
body {background-color:#FFFFFA;}
::selection {
    color: red;
    background: #98ffcc;
}

 /*main*/

#main {width:90%; margin:10rem auto;}
#method {margin-top:3rem;}
#keep {}
h1 {left:0; top:0;position:fixed; font-weight:bold; width:100%;text-align:center; background-color:red; color:white; padding:3rem;}
img {width:100%; height:auto;}
#exercise {color:black;}
#exercise:hover {color:black; text-decoration:underline;}

/*ul - method*/
h2 {color:red;}

#method1 h4 { margin-top:1rem; margin-bottom:1rem;}
#method1 h4 a:link {color:black;}
#method1 h4 a:hover {color:black; text-decoration:underline;}
#method1 h4 a:active {color:black;}
#method1 h4 a:visited {color:black;}

#method1 #woo li {list-style:square; margin-left:2rem;}
#method1 #woo {margin-bottom:2rem;}

#method2 h4 { margin-top:1rem; margin-bottom:1rem;}
#method2 h4 a:link {color:black;}
#method2 h4 a:hover {color:black; text-decoration:underline;}
#method2 h4 a:active {color:black;}
#method2 h4 a:visited {color:black;}

#method2 img {width:47%; height:auto; float:left; margin-top:2rem;margin-bottom:2rem;}
#method2 #img #img1 {margin-right:4rem;}

#method3 {clear:both;}
#method3 h4 { margin-top:1rem; margin-bottom:2rem;}
#method3 h4 a:link {color:black;}
#method3 h4 a:hover {color:black; text-decoration:underline;}
#method3 h4 a:active {color:black;}
#method3 h4 a:visited {color:black;}

#method p {margin-bottom:2rem;}

#method4 h4 { margin-top:1rem; margin-bottom:2rem;}
#method4 h4 a:link {color:black;}
#method4 h4 a:hover {color:black; text-decoration:underline;}
#method4 h4 a:active {color:black;}
#method4 h4 a:visited {color:black;}

#method4 ol li {list-style:square; margin-left:2rem;}

/*ul - keep*/
#keep h2 {margin-top:2rem; margin-bottom:1rem;}
#keep h2 a:link{color:red;}
#keep h2 a:hover{color:red;text-decoration:underline;}
#keep h2 a:active{color:red;}
#keep h2 a:visited{color:red;}


#keep01 h4 {margin-bottom:1rem;}
#others li {list-style:square; margin-left:2rem;}
#others li:first-child {list-style:none; margin-left:0rem;}
#others li a:link {color:black;}
#others li a:hover {color:black; text-decoration:underline;}
#others li a:active {color:black;}
#others li a:visited {color:black;}

#others02 {margin-top:1rem;}
#others03 {margin-bottom:2rem;}


#keep02 p{margin-top:1rem; margin-bottom:2rem;}
#keep03 p{margin-top:1rem; margin-bottom:2rem;}








